<!DOCTYPE html>
<html>
<head>
    @Html.Partial("Head/_Default")
    @RenderSection("styles", false)
</head>
<body>
    <header></header>
    <main></main>
    <footer>
        @Html.Partial("Scripts/_Default")
        <script>
            $(function() { fly01.call(fly01.navigation, "@Url.Action("Sidebar", "Home")"); });
        </script>
        @RenderSection("scripts", false)
        <div id="dynScripts"></div>
    </footer>
</body>
</html>
@RenderBody()