<!DOCTYPE html>
<html>
<head>
    @Html.HeadTemplate("Gestão Financeira MEI")
    @RenderSection("styles", false)
    @Html.ScriptsTemplate()
    @RenderSection("scripts", false)
</head>
<body>
</body>
</html>
@RenderBody()