<!DOCTYPE html>
<html>
<head>
    @Html.HeadTemplate("Fly01 Financeiro")
    @RenderSection("styles", false)
</head>
<body>
    @Html.ScriptsTemplate()
    <script>
            $(function() { fly01.navigation("@Url.Action("Sidebar", "Home")"); });
    </script>
    @RenderSection("scripts", false)
</body>
</html>
@RenderBody()