<!DOCTYPE html>
<html>
<head>
@Html.HeadTemplate("Fly01 Estoque")
@RenderSection("styles", false)
</head>
<body>
    <header></header>
    <main></main>
    <footer>
        @Html.ScriptsTemplate()
        <script>
            $(function() { fly01.call(fly01.navigation, "@Url.Action("Sidebar", "Home")"); });
        </script>
        @RenderSection("scripts", false)

        <div id="dynScripts"></div>
    </footer>
</body>
</html>
@RenderBody()